body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}

h1
{
    font-size: 5vh;
}

ul, ol, dl
{
    color: #036;
    font-size: 0.9em;
}

/*https://www.w3schools.com/cssref/pr_list-style-type.asp
https://www.w3schools.com/css/css_navbar.asps*/

#unsortierte_liste
{
    list-style-type:lower-roman;
    /*list-style-image: url(bild.jpg);*/
}

#sortierte_liste
{
    list-style-type:decimal-leading-zero;
}