body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table, td, th
{
    border: 1px palevioletred solid;
    transition: 1s;
}

th
{
    background-color: rgb(255, 68, 99);
}

#t2 th
{
    background-color: powderblue;
}

#t2 td:hover
{
    background-color: rgb(88, 196, 196);
    color: black;
    transition: 1s;
}

td
{
    vertical-align: middle;
    text-align: center;

    /*Innenabstände*/
    padding: 0px;
}

table
{
    width: 250px;
    height: 250px;

    /* zellen abstände*/
    border-collapse: collapse;
    border-spacing: 0px;

}

.marker
{
    background-color: black;
    color: white;
}

td:hover
{
    background-color: pink;
    color: black;
    transition: 1s;
}

caption
{
    font-size: 115%;
    font-weight: bold;
}

